.app.light {

    --bg-color: #ececec;
    --inverted-bg-color: #242323;

    --primary-color: #504f4f;
    --secondary-color: black;
    --inverted-primary-color: #dad7d7;
    --inverted-secondary-color: white;
}